{% extends "base.html" %}
{% load static %}

{% block content %}
{% block header %}
{% include "partials/header/header.html" %}
{% endblock %}

<main class="container">
    {% if messages %}
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 color_laranja" id="messageModalLabel">Messagem</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-unstyle">
                        {% for message in messages %}
                        <li class="{{ message.tags }} color_laranja text-center">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button_rosa color_cinza" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <h1 class="text-center color_laranja">Apagar Usuário</h1>
    <h3 class="color_laranja text-center">Tem certeza que deseja deletar o usuário: {{ client.nome }}?</h3>

    <form method="post" class="container mt-4">
        {% csrf_token %}
        <div class="text-center">
            <button type="submit" class="btn button_rosa color_cinza mb-3">Apagar</button>
            <a href="{% url "update_client" client.id %}" class="btn button_roxo color_cinza mb-3">Voltar</a>
        </div>
    </form>
</main>
{% endblock %}
{% block footer %}
{% include "partials/footer/footer.html" %}
{% endblock %}

{% block scripts %}
<script>
    {% if messages %}
    document.addEventListener("DOMContentLoaded", function() {
        let messageModal = new bootstrap.Modal(document.getElementById("messageModal"), {
            keyboard: true
        });

        messageModal.show()
    });
    {% endif %}
</script>
{% endblock %}