{% extends "base.html" %}
{% load static %}

{% block content %}
{% block header %}
{% include "partials/header/header.html" %}
{% endblock %}

<main class="container">
    {% if messages %}
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 color_laranja" id="messageModalLabel">Messagem</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-unstyle">
                        {% for message in messages %}
                        <li class="{{ message.tags }} color_laranja text-center">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button_rosa color_cinza" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <h1 class="text-center mt-3 color_laranja">Registro de Cliente</h1>
    <form method="post" class="container_form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label color_laranja">Nome do cliente:</label>
            <input type="text" class="form-control color_laranja" id="name" name="name" value="{{ client.nome }}">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label color_laranja">Email do cliente:</label>
            <input type="email" class="form-control color_laranja" id="email" name="email" value="{{ client.email }}">
        </div>
        <div class="mb-3">
            <label for="cpf" class="form-label color_laranja">CPF do cliente:</label>
            <input type="text" class="form-control color_laranja" id="cpf" name="cpf" pattern="[0-9]{11}"
                title="Somente aceito em formato númerico" value="{{ client.cpf }}">
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center">
            <button type="submit" class="btn button_verde color_cinza mb-3 w-50">Registrar</button>
            <a href="{% url "delete_client" client.id %}" class="btn button_rosa color_cinza mb-3 w-50">Apagar cliente</a>
            <a href="{% url "list_client" %}" class="btn button_roxo color_cinza w-50">Voltar</a>
        </div>
    </form>
</main>

{% endblock %}
{% block footer %}
{% include "partials/footer/footer.html" %}
{% endblock %}

{% block scripts %}
<script>
    {% if messages %}
    document.addEventListener("DOMContentLoaded", function () {
        let messageModal = new bootstrap.Modal(document.getElementById("messageModal"), {
            keyboard: true
        });
        messageModal.show();
    })
    {% endif %}
</script>
{% endblock %}